name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: test:required
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - uses: ./.github/actions/prepare-tests

      - name: Run tests
        run: ./scripts/run-tests.sh
